
body {
  padding-top: 3.5rem;
}
h2{
  color:#2E7D32;
  text-decoration: underline;
}

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }